{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ theme.url }}/photoswipe.css">
  <script type="module">
  import PhotoSwipeLightbox from '/static/photoswipe-lightbox.esm.min.js';
  import PhotoSwipe from '/static/photoswipe.esm.min.js';
  import PhotoSwipeVideoPlugin from '/static/photoswipe-video-plugin.esm.min.js';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '.gallery',
    children: 'a',
    pswpModule: PhotoSwipe
  });
  const videoPlugin = new PhotoSwipeVideoPlugin(lightbox, {
    autoplay: true,
  });
  lightbox.init();
  </script>
{% endblock extra_head %}

{% block content %}
  {% include 'download_zip.html' %}
  {% include 'map.html' %}
  <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {% for media in album.medias %}
      {% if media.type == "image" %}
        <figure class="gallery__img--{{ "main" if loop.first else "secondary" }} thumbnail"
                itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ media.url }}"
             itemprop="contentUrl"
             data-pswp-width="{{media.size.width}}"
             data-pswp-height="{{media.size.height}}" >
            <img src="{{ media.thumbnail }}"
                 alt="{{ media.url }}" itemprop="thumbnail" title="{{ media.exif.datetime }}" />
          </a>
          <figcaption itemprop="caption description">{{ media.title }} - {{ media.exif.datetime }}</figcaption>
        </figure>
      {% endif %}
      {% if media.type == "video" %}
        <figure class="gallery__img--secondary thumbnail"
                itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ media.url }}"
             itemprop="contentUrl"
             data-pswp-width="800"
             data-pswp-height="600"
             data-pswp-type="video">
          <img src="{{ media.thumbnail }}"
               alt="{{ media.thumbnail }}" itemprop="thumbnail" title="" />
          </a>
          <figcaption itemprop="caption description">{{ media_title }}</figcaption>
        </figure>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block extra_footer %}
{% endblock %}
