include README.rst LICENSE
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
prune docs/_themes/.git
recursive-include sigal/themes *
include sigal/templates/sigal.conf.py
prune sigal/themes/.sass-cache
prune sigal/themes/colorbox/static/css/.sass-cache
prune sigal/themes/galleria/static/css/.sass-cache
recursive-exclude tests *
