include AUTHORS
include CONTRIBUTING.rst
include LICENSE
include Makefile
include README.rst
include *.txt
include tox.ini
recursive-include docs *
prune docs/_build
recursive-include sigal/plugins *
recursive-include sigal/themes *
include sigal/templates/sigal.conf.py
recursive-include tests *
prune tests/sample/_build
recursive-exclude * *.pyc
recursive-exclude * *.pyo
