/* -*- scss-compile-at-save: nil -*- */

@import "base";
@import "skeleton";
@import "colorbox";

body {
  font: 100%/1.4 "PT Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style: disc outside;
  padding-left: 20px;
}

header {
  margin-top: 40px;

  h1 { margin-bottom: 10px; }
  h2 { margin-top: 10px; }
  h1 a, h2 a { text-decoration: none; }
}

.thumbnail {
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 5px 5px 0;
    border: 10px solid #fff;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px #B1B1B1;
    padding: 0 0 2px;

    &:hover {
      box-shadow: 0 0 5px #818181;
    }
  }
}

.album_thumb {}
.album_title {
  display: block;
}