{% extends "base.html" %}

{% block content %}
<div class="photobook-index">
  {% if album.description %}
  <div class="album-description">
    {{ album.description }}
  </div>
  {% endif %}
  <h2>Albums</h2>
  <div class="album-outline">
    {% for alb in album.albums %}
    <div class="album-item">
      <a href="{{ alb.url }}" class="album-link">
        {% if alb.thumbnail %}
        <img src="{{ alb.thumbnail }}" class="album-thumbnail" alt="{{ alb.name }}" title="{{ alb.name }}" />
        {% endif %}
        <div class="album-info">
          <span class="album-title">{{ alb.title }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
